importing the Dependancies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# Loading the Dataset

credit_data = pd.read_csv(r"C:\Users\awere\Downloads\creditcard.csv") 
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# Getting the shape

credit_data.shape

(284807, 31)

In [5]:
# Getting more inofomation 

credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# Checking for missing values

credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
# Getting the distribution of fake and legitimate news

credit_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is higly unbalanced

0---> Normal Transacion
1---> Fraudulent Transaction

In [8]:
# Sperating the data for analysis

legit = credit_data[credit_data.Class == 0]
fraud = credit_data[credit_data.Class ==1]

In [9]:
# shape

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
# statistical Measures

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
# Compare the values for both CLasses

credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Dealing wih the unbalanced data

Undersampling- Build a sample dataset containing similar distribution of normal and fraudulent transactions

No. of fraudulent transactions ---> 492

In [13]:
legit_sample = legit.sample(n=492)

concatenating 2 dataframes

In [15]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
55908,47181.0,-0.674248,-0.010678,0.604892,-1.675474,-1.121231,-0.704689,1.268110,-0.315501,-1.468623,...,-0.051724,-0.255228,0.356118,0.481491,-0.818195,-0.840426,0.018389,0.111947,209.00,0
34339,37620.0,1.152049,0.378013,1.047540,2.520753,-0.569295,-0.316891,-0.268397,0.031908,-0.346732,...,0.136298,0.336140,-0.054202,0.378883,0.410148,0.098543,0.007194,0.029401,10.65,0
79718,58146.0,-1.581743,1.672144,1.387436,-0.617909,0.278862,-0.117375,1.046512,-0.349228,1.004006,...,-0.493950,-0.462829,-0.046488,-0.038149,-0.082029,0.027335,0.406514,-0.165114,8.93,0
231123,146620.0,-2.171167,0.942179,-1.951841,0.316346,-4.774156,5.274410,-2.748875,-11.898840,-2.015679,...,-4.509666,1.806426,-3.364458,0.527166,0.633967,0.646939,1.091486,-0.087522,1122.16,0
263816,161127.0,-0.204290,1.161150,-0.941544,-0.574862,0.758939,-0.646519,0.501043,0.422895,-0.045608,...,-0.325607,-0.971287,0.119087,0.138160,-0.395844,0.145365,0.094938,0.008298,1.98,0

In [17]:
# new Distribution

new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
# Checking and comparing the new mean to old mean

new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,90919.016260,0.105818,-0.081186,0.089073,0.007135,0.013528,-0.050084,-0.070738,0.029788,-0.072185,...,-0.022315,-0.022965,0.042825,0.044928,0.050954,0.031061,0.004495,0.013172,0.002656,75.061829
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the features and targets

In [20]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [21]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
55908,47181.0,-0.674248,-0.010678,0.604892,-1.675474,-1.121231,-0.704689,1.268110,-0.315501,-1.468623,...,-0.270222,-0.051724,-0.255228,0.356118,0.481491,-0.818195,-0.840426,0.018389,0.111947,209.00
34339,37620.0,1.152049,0.378013,1.047540,2.520753,-0.569295,-0.316891,-0.268397,0.031908,-0.346732,...,-0.171344,0.136298,0.336140,-0.054202,0.378883,0.410148,0.098543,0.007194,0.029401,10.65
79718,58146.0,-1.581743,1.672144,1.387436,-0.617909,0.278862,-0.117375,1.046512,-0.349228,1.004006,...,1.016846,-0.493950,-0.462829,-0.046488,-0.038149,-0.082029,0.027335,0.406514,-0.165114,8.93
231123,146620.0,-2.171167,0.942179,-1.951841,0.316346,-4.774156,5.274410,-2.748875,-11.898840,-2.015679,...,1.609053,-4.509666,1.806426,-3.364458,0.527166,0.633967,0.646939,1.091486,-0.087522,1122.16
263816,161127.0,-0.204290,1.161150,-0.941544,-0.574862,0.758939,-0.646519,0.501043,0.422895,-0.045608,...,-0.136385,-0.325607,-0.971287,0.119087,0.138160,-0.395844,0.145365,0.094938,0.008298,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [22]:
Y

55908     0
34339     0
79718     0
231123    0
263816    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Splitting the data into training and test Data

In [23]:
X_train, X_test, Y_train,Y_test = train_test_split(X, Y, test_size=0.2, random_state=2, stratify=Y)

In [24]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

Model Training

In [25]:
model = LogisticRegression()

In [26]:
model.fit(X_train,Y_train)

C:\Users\awere\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Evaluation and Accuracy

In [28]:
# Training Data

training_data = model.predict(X_train)
training_data_accuracy = accuracy_score(training_data,Y_train)

print('The accuracy score:', training_data_accuracy)

The accuracy score: 0.9364675984752223

In [29]:
# Test Data

test_data = model.predict(X_test)
test_data_accuracy = accuracy_score(test_data,Y_test)

print('The accuracy score:', test_data_accuracy)

The accuracy score: 0.934010152284264